<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
		    <button type="button" class="close" data-dismiss="modal">
		         <span aria-hidden="true">&times;</span>
		    </button>
			<div class = 'modal-body'>
				<p>
				  <strong>Title:</strong>
				  <%= @product.title %>
				</p>
				<p>
				  <strong>Price:</strong>
				  <%= @product.price %>
				</p>
				<div class="modal-footer">
					<%= link_to 'Edit', edit_product_path(@product), class: 'btn btn-primary', remote: true%>
					<%= link_to 'Back', products_path, class: 'btn btn-default' %>
				</div>
			</div>
		</div>
	</div>
</div>

